body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #181717;
    color: #ffffff;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(236, 236, 236, 0.1);
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.original-image, .processed-image {
    width: 48%;
    margin: 0 1%;
}

.original-image img {
    max-width: 100%;
    height: auto;
    width: 300px;
    border: 1px solid #0a0000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.processed-image img {
    max-width: 100%;
    height: auto;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.05);
}

button {
    margin-top: 20px;
    padding: 15px 23px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

#loadingAnimation {
    display: none;
    border: 8px solid #0079eb;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fcfcfc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.upload-button {
    display: inline-block;
    padding: 10px 23px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.upload-button:hover {
    background-color: #0056b3;
}